# Project Submission

**Please use this notebook for your submission.**

Make sure to fill out all the required fields and to answer all the questions.

You will be working with a dataset that includes the results of international football matches from 1872 to 2024. The matches range from FIFA World Cups to regular friendly matches. 

At the end of this project, you will have answered the following questions:

1. What is the average number of goals for the home team? 
2. What is the average number of goals for the away team? 
3. What is the country with the highest overall home score?
4. What are the top 3 type of tournaments?
5. Which country has the highest overall FIFA World Cup goals?


**Submission Requirements:**

- Make sure that you run all cells with code in your notebook before submitting.
- You can add additional cells of code if you want, but make sure to clean up your notebook, and only leave the code required to answer the questions.


_Original Data Source: [Kaggle](https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017/data)_

## Step 1: Getting Started

You will mainly work with a Python library called Pandas. Pandas is a powerful library that allows us to manipulate data. In order to use Pandas, you first have to import it.

In [1]:
import pandas as pd

## Step 2: Loading and Exporing the Data

You can use Pandas to explore and manipulate the _results.csv_ file. 
You first have to load the csv file into a Pandas dataframe, so you can then analyize the data. 

When using `pd.read_csv()`, make sure you inlcude the correct path to the csv file, depending on where you saved it when you downloaded it.

In [2]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv('results.csv')

In [3]:
# Explore the df

df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

## Step 3: Data Analysis

### Q1: What is the average number of goals for the home team?

Hint: You can call the `mean()` method on the _'home_score'_ column.

In [4]:
# Code here

print("The average number of goals for the home team is: ", df["home_score"].mean())

The average number of goals for the home team is:  1.7393136930376256

### Q2: What is the average number of goals for the away team?

Hint: You can call the `mean()` method on the _'away_score'_ column.

In [5]:
# Code here

print("The average number of goals for the away team is: ", df["away_score"].mean())

The average number of goals for the away team is:  1.1782412004854905

### Q3: What is the country with the highest overall home score?

Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the `idxmax()` function to find the index(country) with the highest sum.

In [6]:
# Code here


# We only need the country and home_score columns.

relevant_data = df[["country", "home_score"]]
print(relevant_data.head())

# Group the data by the country column and sum the home_score for each country.

total_home_scores = relevant_data.groupby("country")["home_score"].sum()
print(total_home_scores)

# Identify the Country with the Highest Score

highest_home_score_country = total_home_scores.idxmax()
highest_home_score = total_home_scores.max()

print(f"Country with the highest overall home score: {highest_home_score_country}")
print(f"Highest overall home score: {highest_home_score}")

    country  home_score
0  Scotland           0
1   England           4
2  Scotland           2
3   England           2
4  Scotland           3
country
Afghanistan      7
Albania        207
Algeria        450
Andorra         35
Angola         257
              ...
Zambia         551
Zanzibar        41
Zaïre          113
Zimbabwe       278
Éire            12
Name: home_score, Length: 268, dtype: int64
Country with the highest overall home score: United States
Highest overall home score: 2056

### Q4: What are the top 3 type of tournaments?

Hint: You can use the `value_counts()` method to count the occurences of each unique value in the _'tournament'_ column.

In [7]:
# Code here

# count tournament frequencies
tournament_counts = df["tournament"].value_counts()

# we can retrieve the top 3 tournaments based on their frequency.
top_3_tournaments = tournament_counts.head(3)
print("The top 3 type of tournaments are: ")
print("----------------------------------")
print(top_3_tournaments)

The top 3 type of tournaments are:
----------------------------------
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: tournament, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?

To answer this question, consider breaking down your solution into 3 steps.

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [8]:
# Code here

fifa_df = df[df["tournament"] == 'FIFA World Cup']
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

**5.2 In your new fifa_df, create a new _'total_score'_ column that sums _'home_score'_ + _'away_score'_ for each row.**

PS. If you get a "SettingWithCopyWarning", please ignore it.

In [9]:
# Code here
fifa_df["total_score"] = fifa_df["home_score"] + fifa_df["away_score"]
fifa_df

/var/folders/rh/nb_p6rnj40145m1k0cz9q25m0000gp/T/ipykernel_85504/915078881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df["total_score"] = fifa_df["home_score"] + fifa_df["away_score"]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,3
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,5
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,3
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,4
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1
...,...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True,3
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True,3
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True,2
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True,3
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True,6

**5.3 Group your data by country, then get the sum of the _'total_score'_ column. From there, you can use `idxmax()` to find the country with the highest _'total_score'_.**

In [10]:
# Code here
group_by_country = fifa_df.groupby("country")["total_score"].sum()
country_with_highest_score = group_by_country.idxmax()

print("Country with the highest FIFA World Cup goals: ", country_with_highest_score)

Country with the highest FIFA World Cup goals:  Brazil